NODE_ENV=development
PORT=3000

SUPABASE_URL=https://ujckjmtfarbpqitygiye.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqY2tqbXRmYXJicHFpdHlnaXllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NjE1ODksImV4cCI6MjA5MzEzNzU4OX0.l4o8Cc4ExiDU4Tf5dMHZSu8_EVnmv1gYACu8Yoa0aLo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqY2tqbXRmYXJicHFpdHlnaXllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzU2MTU4OSwiZXhwIjoyMDkzMTM3NTg5fQ.WCWjGJWvTot6XaIghcnanN7k2kEbb0f2Rs_l83UrXbc
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001
